<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='f4.css') }}" >

</head>
<body>
<div id="main">
<div id="first">
<form action="/add_product_movement" method="post">
<h1>Add Product Movement</h1>
<label for="movementID">MovementID</label><br>
    <input name="movementID" value="" type="text" placeholder="movementID" autocomplete="off" required>
<label for="fromLocation">fromLocation</label><br>
          <input name="fromLocation" value="" type="text" placeholder="fromLocation" autocomplete="off" required>
    <label for="toLocation">toLocation</label><br>
    <input name="toLocation" value="" type="text" placeholder="toLocation" autocomplete="off" required>

    <label for="productID">productID</label><br>
			<input name="productID" value="" placeholder="productID" autocomplete="off" type="text" required>
    <label for="Quantity">Quantity</label><br>
			<input name="Quantity" value="" placeholder="Quantity" autocomplete="off" type="text" required>
<input type="submit" value="Submit">
</form>
</div>
</div>
</body>


</html>

