<doctype html>
<title>Edit Product</title>
<h2>Edit Product</h2>
<form method="post" action="/update">
    <dl>
		<p>
             <label for="productID">productID</label><br>
			<input name="id" value="{{ row['productID'] }}" type="text" placeholder="productID" autocomplete="off" readonly>
		</p>
		<p>
             <label for="productName">productName</label><br>
			<input name="productName" value="{{ row['productName'] }}" type="text" placeholder="productName" autocomplete="off" required>
		</p>
		<p>
             <label for="Quantity">Quantity</label><br>
			<input name="Quantity" value="{{ row['Quantity'] }}" type="text" placeholder="quantity" autocomplete="off" required>
		</p>
        <p>
             <label for="cost">cost</label><br>
			<input name="cost" value="{{ row['cost'] }}" type="text" placeholder="cost" autocomplete="off" required>
		</p>
    </dl>
    <p>

		<input type="submit" value="Submit">
	</p>
</form>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>