{% extends "layout.html" %}


{% block body%}

<div id="main">
<div id="first">
<form action="" method="post">
<h1>Login</h1>


    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="name" class="form-control" placeholder="name" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your Name with anyone else.</small>

    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" placeholder="password" required>

  <input type="submit" value="Submit">
</form>
</div>
</div>

{% endblock%}

