<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='f4.css') }}" >

</head>
<body>
<div id="main">
<div id="first">
<form action="" method="post">
<h1>Register</h1>
<label for="exampleInputEmail1">Name</label>
<input type="text" name="name" class="form-control" placeholder="name" required>

    <label for="exampleInputEmail1">Username</label>
<input type="text" name="username" class="form-control" placeholder="username" required>

     <label for="exampleInputEmail1">Password</label>
<input type="password" name="password" class="form-control" placeholder="password" required>

     <label for="exampleInputEmail1">Confirm Password</label>
<input type="password" name="confirm" class="form-control" placeholder="confirm password" required>





<input type="submit" value="Submit">
</form>
</div>
</div>
</body>


</html>



